<div id = "dane">
    <div class = "container-fluid bg">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12"></div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <form class = "form-container" style="background-color: white" >
                    <div class="form-group">
                        <h1 class="uvidURacun" style="text-align: center"><b>Osnovni podaci o kupcu</b></h1>
                        <br>
                        <label for="naziv" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Naziv: </label>
                        <input type="text" class="form-control" id="naziv" data-bind="value: naziv" readonly=""/>
                        <br>
                        <label for="jmbg" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">JMBG:</label>
                        <input type="text" class="form-control" id="jmbg" data-bind="value: jmbg" readonly=""/>
                        <br> 
                        <label for="mbroj" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Maticni broj:</label>
                        <input type="text" class="form-control" id="mbroj" data-bind="value: maticniBroj" readonly=""/>
                        <br>
                        <label for="nbroj" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Naplatni broj:</label>
                        <input type="text" class="form-control" id="nbroj" data-bind="value: naplatniBroj" readonly=""/>
                        <br>
                        <label for="pib" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">PIB: </label>
                        <input type="text" class="form-control" id="pib" data-bind="value: pib" readonly=""/>
                        <br>
                        <label for="pnaziv" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Prosireni naziv: </label>
                        <input type="text" class="form-control" id="pnaziv" data-bind="value: prosireniNaziv" readonly=""/>
                        <br>
                        <label for="tip" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Tip: </label>
                        <input type="text" class="form-control" id="tip" data-bind="value: tip" readonly=""/>
                        <br>
                        <label for="grad" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Grad: </label>
                        <input type="text" class="form-control" id="grad" data-bind="value: grad" readonly=""/>
                        <br>
                        <label for="ulica" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Ulica:</label>
                        <input type="text" class="form-control" id="ulica" data-bind="value: ulica" readonly=""/>
                        <br>
                        <label for="opstina" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Opstina: </label>
                        <input type="text" class="form-control" id="opstina" data-bind="value: opstina" readonly=""/>
                        <br>    
                    </div>

                </form>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12"></div>


        </div>



    </div>
</div>